<p>
  <label for='pregunta' class='REM'>Pregunta:</label>
  <input type='text' id='pregunta' name='quiz[pregunta]' value='<%= quiz.pregunta %>' />
</p>
<p>
  <label for='respuesta' class='REM'>Respuesta:</label>
  <input type='text' id='respuesta' name='quiz[respuesta]' value='<%= quiz.respuesta %>' />
</p>
<input type='submit' value='Guardar' />
<a href='/quizes'><button type='button'>Cancelar</button></a>
